# Игнорировать cargo target (директория сборки целиком)
build/*/target/

# Игнорировать собранные .deb пакеты
deb/*.deb

# Игнорировать node_modules
node_modules/

# Но сохранить метаданные .deb пакета
!deb/*/DEBIAN/

# Сохранить контрольные точки структуры каталогов
!.gitkeep
